﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ComplaintView.aspx.cs" Inherits="GpvbdProj.ComplaintView" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <div class="page-header" style="width: 100%;">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>
            </span>Complaints </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Default.aspx">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Complaints</li>
            </ol>
        </nav>
    </div>
    <div class="card">
        <div style="margin: 10px; overflow-x: auto">
            <asp:ScriptManager runat="server" EnablePageMethods="true"></asp:ScriptManager>
            <asp:UpdatePanel ID="UpdComplain" runat="server" UpdateMode="Always">
                <ContentTemplate>
                    <asp:Button ID="btnGetReoprt" runat="server" Text="Get Report" class="btn btn-gradient-primary mr-2" OnClick="btnGetReoprt_Click"/>
                    <asp:GridView ID="gvComplain" runat="server" DataKeyNames="id" OnRowDataBound="gvComplain_RowDataBound" OnRowEditing="gvComplain_RowEditing" OnRowCancelingEdit="gvComplain_RowCancelingEdit" OnRowUpdating="gvComplain_RowUpdating" OnRowDeleting="gvComplain_RowDeleting"
                        EmptyDataText="No records has been added." AutoGenerateEditButton="true" AutoGenerateDeleteButton="true" AutoGenerateColumns="false" Width="100%">
                        <Columns>
                            <asp:BoundField DataField="id" HeaderText="id" Visible="false" />
                            <asp:BoundField DataField="Name" HeaderText="Name" />
                            <asp:BoundField DataField="FatherName" HeaderText="Father Name" />
                            <asp:BoundField DataField="Village" HeaderText="Village" />
                            <asp:BoundField DataField="MobileNo" HeaderText="MobileNo" />
                            <asp:BoundField DataField="IsSolved" HeaderText="Is Solved ?" />
                            <asp:BoundField DataField="SolvedDate" HeaderText="Solved Date" />
                            <asp:TemplateField HeaderText="Image">
                                <ItemTemplate>
                                    <asp:Image ID="Img" runat="server" Width="70px" Height="95px" ImageUrl='<%# Eval("path") %>' />
                                </ItemTemplate>
                            </asp:TemplateField>
                        </Columns>
                        <EditRowStyle CssClass="GridViewEditRow" />
                    </asp:GridView>
                </ContentTemplate>
                <Triggers>
                </Triggers>
            </asp:UpdatePanel>
        </div>
    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js">
    </script>
    <script language="javascript" type="text/javascript">
        window.onload = function () {
            var fileUpload = document.getElementById("MainContent_fuComplainImage");
            fileUpload.onchange = function () {
                if (typeof (FileReader) != "undefined") {
                    var dvPreview = document.getElementById("dvPreview");
                    dvPreview.innerHTML = "";
                    var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                    for (var i = 0; i < fileUpload.files.length; i++) {
                        var file = fileUpload.files[i];
                        if (regex.test(file.name.toLowerCase())) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                var img = document.createElement("IMG");
                                img.height = "100";
                                img.width = "100";
                                img.src = e.target.result;
                                dvPreview.appendChild(img);
                            }
                            reader.readAsDataURL(file);
                        } else {
                            alert(file.name + " is not a valid image file.");
                            dvPreview.innerHTML = "";
                            return false;
                        }
                    }
                } else {
                    alert("This browser does not support HTML5 FileReader.");
                }
            }
        };
    </script>
</asp:Content>
